<% include partials/header.ejs %>
    <div class="text-center">
        <h1>Mercury</h1>
        <p>
            Mercury is the smallest planet in the solar system and it is the closest planet to the sun.
            A year on mercury is just 88 days long, which is the shortest of all the planets in the Solar System.
            It is named after the Roman deity Mercury, who was the messenger of the gods.
        </p>
        <img src="/img/mercury.jpg" alt="The Solar System" />
    </div> 
<% include partials/footer %>