<% include partials/header.ejs %>
    <div class="text-center">
        <h1>Venus</h1>
        <p>
            Venus is the second planet from the sun in our solar system and it is named after the Roman goddess of love and beauty.
            The planet is rarely visible to the naked eye in broad daylight and orbits the sun every 224.7 Earth days.
            Venus is one of the brightest objects in the sky.
        </p>
        <img src="/img/venus.jpg" alt="The Solar System" />
    </div>
<% include partials/footer %>